In [1]:
import pandas as pd
import selenium
from bs4 import BeautifulSoup
import time
from selenium import webdriver
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

### 1.Scrape the details of most viewed videos on YouTube from Wikipedia.
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
### You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [4]:
driver = webdriver.Chrome("chromedriver.exe")

In [5]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [18]:
rank = []
name = []
artist = []
date = []
views = []

In [19]:
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[1]')[:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[2]')[:30]:
        name.append(i.text)
except NoSuchElementException:
    name.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[3]')[:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[5]')[:30]:
        date.append(i.text)
except NoSuchElementException:
    date.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tbody//tr//td[4]')[:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append("-")

In [20]:
df = pd.DataFrame({'Rank':rank,'Name of Video':name,'Artist':artist,'Date of Upload':date,'Total Views':views})
df

,Rank,Name of Video,Artist,Date of Upload,Total Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.21
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.75
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.17
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.62
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.42
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",4.99
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,"February 27, 2018",4.56
7,8.,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,"January 31, 2012",4.48
8,9.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",4.47
9,10.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.46
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.34
11,12.,"""Dame Tu Cosita""[30]",El Chombo,"April 5, 2018",3.85
12,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.68
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.64
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.52
15,16.,"""Sorry""[34]",Justin Bieber,"October 22, 2015",3.51
16,17.,"""Counting Stars""[35]",OneRepublic,"May 31, 2013",3.51
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.41
18,19.,"""Girls Like You""[37]",Maroon 5,"May 31, 2018",3.24
19,20.,"""Faded""[38]",Alan Walker,"December 3, 2015",3.23
20,21.,"""Axel F""[39]",Crazy Frog,"June 16, 2009",3.23
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.22
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.17
23,24.,"""Bailando""[42]",Enrique Iglesias,"April 11, 2014",3.16
24,25.,"""Lean On""[43]",Major Lazer,"March 22, 2015",3.16
25,26.,"""Shake It Off""[44]",Taylor Swift,"August 18, 2014",3.14
26,27.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.13
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.09
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.06
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.04

#### 2. Scrape the details team India’s international fixtures from bcci.tv.
#### Url = https://www.bcci.tv/.
#### You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [59]:
driver = webdriver.Chrome("chromedriver.exe")

In [60]:
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(2)

driver.find_element_by_xpath('//li[@class="nav-item ml-0"]').click()
time.sleep(3)

driver.find_element_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[1]').click()
time.sleep(2)

search = driver.find_element_by_xpath('/html/body/div[3]/div[2]/div/div/div/div[2]/div[2]/div/div[3]/div/div[2]/div[6]')
search.click()

In [67]:
match = []
series = []
place = []
date = []
time = []

In [68]:
try:
    for i in driver.find_elements_by_xpath('//span[@class="ng-binding"]'):
        match.append(i.text)
except NoSuchElementException:
    match.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//span[@class="matchOrderText ng-binding ng-scope"]'):
        series.append(i.text.split('-')[0])
except NoSuchElementException:
    series.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]'):
        place.append(i.text)
except NoSuchElementException:
    place.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//h5[@class="ng-binding"]'):
        date.append(i.text)
except NoSuchElementException:
    date.append("-")
    
try:
    for i in driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]'):
        time.append(i.text)
except NoSuchElementException:
    time.append("-")

In [69]:
df = pd.DataFrame({'Match Title':match,'Series':series,'Venue':place,'Date':date,'time':time})
df

,Match Title,Series,Venue,Date,time
0,SRI LANKA TOUR OF INDIA T20 SERIES 2022,1st T20I,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,24 FEB 2022,7:00 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Himachal Pradesh Cricket Association Stadium,",26 FEB 2022,7:00 PM IST
2,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Himachal Pradesh Cricket Association Stadium,",27 FEB 2022,7:00 PM IST
3,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st Test,"Punjab Cricket Association IS Bindra Stadium,",4 MAR 2022,9:30 AM IST
4,SRI LANKA TOUR OF INDIA TEST SERIES 2022,2nd Test,"M Chinnaswamy Stadium,",12 MAR 2022,12:30 PM IST
5,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,1st T20I,"MA Chidambaram Stadium,",9 JUN 2022,7:30 PM IST
6,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"M Chinnaswamy Stadium,",12 JUN 2022,7:30 PM IST
7,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Vidarbha Cricket Association Stadium,",14 JUN 2022,7:30 PM IST
8,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:30 PM IST
9,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,5th T20I,"Arun Jaitley Stadium,",19 JUN 2022,7:30 PM IST

### 3. Scrape the details of selenium exception from guru99.com.
### Url = https://www.guru99.com/
### You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [9]:
driver = webdriver.Chrome("chromedriver.exe")

In [12]:
url = "https://www.guru99.com/"
driver.get(url)

In [13]:
search_bar = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input")
search_bar.send_keys("selenium exception handling")
search_btn = driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button")
search_btn.click()
time.sleep(2)

In [14]:
link = driver.find_element_by_xpath('//div[@class="gsc-expansionArea"]//div//a')
page_links = link.get_attribute("href")

driver.get(page_links)
time.sleep(3)

Name = []
for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]//tr//td[1]')[1:]:
    Name.append(i.text)
    
Description = []
for i in driver.find_elements_by_xpath('//table[@class="table table-striped"]//tr//td[2]')[1:]:
    Description.append(i.text)

In [15]:
df = pd.DataFrame({'Name':Name,'Description':Description})
df

,Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
### Url = http://statisticstimes.com/
### You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [19]:
driver= webdriver.Chrome("chromedriver.exe")

In [22]:
url = "https://www.statisticstimes.com/"
driver.get(url)

In [23]:
economy = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button")
economy.click()
india = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
india.click()
time.sleep(2)

GDP_india = driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_india.click()
time.sleep(3)

In [29]:
rank = []
state = []
GSDP = []
GSDP1 = []
share = []
GDP = []

In [30]:
for i in driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//tr//td[1]'):
    rank.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//tr//td[2]'):
    state.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//tr//td[3]'):
    GSDP.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//tr//td[4]'):
    GSDP1.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//tr//td[5]'):
    share.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]//tbody//tr//td[6]'):
    GDP.append(i.text)

In [31]:
df = pd.DataFrame({'Rank':rank,'State':state,'GSDP(19-20)':GSDP,'GSDP(18-19)':GSDP1,'Share':share,'GDP':GDP})
df

   Rank                      State GSDP(19-20) GSDP(18-19)   Share      GDP
0     1                Maharashtra           -   2,632,792  13.94%  399.921
1     2                 Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
2     3              Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
3     4                    Gujarat           -   1,502,899   7.96%  228.290
4     5                  Karnataka   1,631,977   1,493,127   7.91%  226.806
5     6                West Bengal   1,253,832   1,089,898   5.77%  165.556
6     7                  Rajasthan   1,020,989     942,586   4.99%  143.179
7     8             Andhra Pradesh     972,782     862,957   4.57%  131.083
8     9                  Telangana     969,604     861,031   4.56%  130.791
9    10             Madhya Pradesh     906,672     809,592   4.29%  122.977
10   11                     Kerala           -     781,653   4.14%  118.733
11   12                      Delhi     856,112     774,870   4.10%  117.703
12   13                    Haryana     831,610     734,163   3.89%  111.519
13   14                      Bihar     611,804     530,363   2.81%   80.562
14   15                     Punjab     574,760     526,376   2.79%   79.957
15   16                     Odisha     521,275     487,805   2.58%   74.098
16   17                      Assam           -     315,881   1.67%   47.982
17   18               Chhattisgarh     329,180     304,063   1.61%   46.187
18   19                  Jharkhand     328,598     297,204   1.57%   45.145
19   20                Uttarakhand           -     245,895   1.30%   37.351
20   21            Jammu & Kashmir           -     155,956   0.83%   23.690
21   22           Himachal Pradesh     165,472     153,845   0.81%   23.369
22   23                        Goa      80,449      73,170   0.39%   11.115
23   24                    Tripura      55,984      49,845   0.26%    7.571
24   25                 Chandigarh           -      42,114   0.22%    6.397
25   26                 Puducherry      38,253      34,433   0.18%    5.230
26   27                  Meghalaya      36,572      33,481   0.18%    5.086
27   28                     Sikkim      32,496      28,723   0.15%    4.363
28   29                    Manipur      31,790      27,870   0.15%    4.233
29   30                   Nagaland           -      27,283   0.14%    4.144
30   31          Arunachal Pradesh           -      24,603   0.13%    3.737
31   32                    Mizoram      26,503      22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

## 5. Scrape the details of trending repositories on Github.com.
### Url = https://github.com/
### You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [30]:
driver = webdriver.Chrome("chromedriver.exe")

In [31]:
url = "https://github.com/"
driver.get(url)

In [32]:
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()
time.sleep(2)

trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()
time.sleep(2)

In [33]:
URLs = []
title = []
description = []
count = []
lang = []
language = []

In [34]:
repository = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']//a")
for i in repository:
    URLs.append(i.get_attribute("href"))

    

titles = driver.find_elements_by_xpath("//h1[@class = 'h3 lh-condensed']")
for i in titles:
    title.append(i.text)

    

for i in URLs:
    driver.get(i)
    time.sleep(3)
    
    
    
    try:
        desc = driver.find_element_by_xpath("//p[@class='f4 my-3']")
        description.append(desc.text)
    except NoSuchElementException:
        description.append('-')
        
        
    
    try:
        contributor = driver.find_element_by_xpath("//*[contains(text(),'    Contributors ')]")
        count.append(contributor.text.replace('Contributors',''))
    except NoSuchElementException:
        count.append('-')
        
        
    
    try:
        for i in driver.find_elements_by_xpath("//span[@class='color-fg-default text-bold mr-1']"):
            lang.append(i.text)
        language.append(lang)
    except NoSuchElementException:
        language.append('-')

In [35]:
df = pd.DataFrame({'Repository Title':title,'Repository Description':description,'Contributors Count':count,'Language Used':language})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,Anduin2017 / HowToCook,程序员在家做饭方法指南。Programmer's guide about how to co...,136,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
1,veeral-patel / how-to-secure-anything,How to systematically secure anything: a repos...,5,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
2,riti2409 / Resources-for-preparation-Of-Placem...,Lecture video links for preparation of Placements,6,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
3,skywind3000 / preserve-cd,Game Preservation Project,2,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
4,nusr / hacker-laws-zh,"💻📖对开发人员有用的定律、理论、原则和模式。(Laws, Theories, Princip...",9,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
5,kaist-cp / cs431,-,9,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
6,riti2409 / Operating_System,"Resources , Notes , Videos of Operating System",-,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
7,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),72,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
8,ant-design / ant-design-mobile,Essential UI blocks for building mobile web apps.,166,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
9,GrowingGit / GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，各语言分离设置「软件 / 资料」榜单，精准定位中文好项目。各取...,-,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
10,apache / superset,Apache Superset is a Data Visualization and Da...,738,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
11,FederatedAI / FATE,An Industrial Grade Federated Learning Framework,62,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
12,YaoApp / yao,Yao A low code engine to create web services a...,2,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
13,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",416,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
14,zellij-org / zellij,A terminal workspace with batteries included,54,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
15,facebook / folly,An open-source C++ library developed and used ...,639,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
16,evilbuffer / malware-and-exploitdev-resources,-,-,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
17,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",659,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
18,zadam / trilium,Build your personal knowledge base with Triliu...,58,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
19,jrouwe / JoltPhysics,A multi core friendly rigid body physics and c...,4,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
20,positive-security / find-you,A stealth AirTag clone that bypasses all of Ap...,-,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
21,influxdata / influxdb,"Scalable datastore for metrics, events, and re...",428,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
22,midisec / BypassAnti-Virus,免杀姿势学习、记录、复现。,-,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
23,coding-horror / basic-computer-games,"An updated version of the classic ""Basic Compu...",159,"[Rust, Shell, TypeScript, Less, Other, Java, T..."
24,labuladong / fucking-algorithm,刷算法全靠套路，认准 labuladong 就够了！English version supp...,97,"[Rust, Shell, TypeScript, Less, Other, Java, T..."

### 6. Scrape the details of top 100 songs on billiboard.com.
### Url = https:/www.billboard.com/
### You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = "https://www.billboard.com/"
driver.get(url)

In [4]:
charts= driver.find_element_by_xpath("/html/body/div[4]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a")
charts.click()

In [5]:
view = driver.find_element_by_xpath("/html/body/div[4]/main/div[2]/div[1]/div[1]/div/div/div[3]/a")
view.click()

In [25]:
song = []
artist = []
last = []
peak = []
weeks = []

In [26]:
for i in driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[1]/h3'):
    song.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[1]/span'):
    artist.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[4]/span'):
    last.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[5]/span'):
    peak.append(i.text)
    
for i in driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[6]/span'):
    weeks.append(i.text)

In [27]:
print(len(artist),len(song),len(last),len(peak),len(weeks))

100 100 200 200 100

In [28]:
billboard = pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':last[:100],'Peak Rank':peak[:100],'Weeks on Board':weeks})
billboard

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,8
1,Heat Waves,Glass Animals,,,57
2,Easy On Me,Adele,4,2,19
3,abcdefu,GAYLE,,,13
4,Stay,The Kid LAROI & Justin Bieber,3,1,32
...,...,...,...,...,...
95,All Too Well (Taylor's Version),Taylor Swift,,,14
96,Come Back As A Country Boy,Blake Shelton,34,19,5
97,Iffy,Chris Brown,,,5
98,Home Sweet,Russell Dickerson,41,36,5
99,Too Easy,Gunna & Future,,,16

### 7. Scrape the details of Data science recruiters from naukri.com.
### Url = https://www.naukri.com/
### You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [102]:
driver = webdriver.Chrome("chromedriver.exe")

In [103]:
url = "https://www.naukri.com/"
driver.get(url)

In [106]:
recruiter = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [107]:
search = driver.find_element_by_xpath("//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
btn = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()     
time.sleep(3)

In [108]:
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [109]:
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']"):
    Name.append(i.text)
time.sleep(3)



for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']"):
    Designation.append(i.text)
time.sleep(3)


for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]"):
    Company.append(i.text)
time.sleep(3)
    
 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(3)


for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span")
    Location.append(i.text)
time.sleep(3)

In [112]:
df = pd.DataFrame({'Name':Name[:50],'Designation':Designation[:50],'Company Name':Company[:50],'Skills They Hire For':Skills[:50],'Location':Location[:50]})
df

,Name,Designation,Company Name,Skills They Hire For,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Aakash Harit
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",HR Manager
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Delhi
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",shravan Kumar Gaddam
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",Company Recruiter
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Hyderabad / Secunderabad
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,MARSIAN Technologies LLP
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Company HR
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Pune
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Anik Agrawal
10,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Company Recruiter
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Ahmedabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",subhas patel
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Founder CEO
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",UK - (london)
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Abhishek - Only Analytics Hiring - India and
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Recruitment Lead Consultant
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Vadodara / Baroda
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Institute for Financial Management and Resear
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Programme Manager
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Chennai
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Balu Ramesh
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",HR Administrator
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Trivandrum
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Asif Lucknowi
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Director
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Indore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",InstaFinancials
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Human Resource
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Sakshi Chhikara
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Assistant Manager HR
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Chandigarh
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Priyanka Akiri
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",HR Manager
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Hyderabad
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Kalpana Dumpala
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Executive Hiring
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Hyderabad / Secunderabad
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mubarak
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Company HR
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Kushal Rastogi
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Company HR
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Mumbai
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mahesh Babu Channa
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",HR Team Lead
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Hyderabad / Secunderabad
48,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Kapil Devang
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",HR Manager

### 8. Scrape the details of Highest selling novels.
### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
### You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [113]:
driver = webdriver.Chrome("chromedriver.exe")

In [114]:
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [124]:
book = []
author = []
volumes = []
publisher = []
genre = []

In [125]:
books = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in books:
    book.append(i.text)
authors = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in authors:
    author.append(i.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in vol:
    volumes.append(i.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in pub:
    publisher.append(i.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in gen:
    genre.append(i.text)

In [126]:
Novel=pd.DataFrame({})
Novel['Book Name']=book
Novel['Author Name']= author
Novel['Volumes Sold']= volumes
Novel['Publisher']= publisher
Novel['Genre']= genre
Novel

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 9. Scrape the details most watched tv series of all time from imdb.com.
### Url = https://www.imdb.com/list/ls095964455/
### You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [127]:
driver = webdriver.Chrome("chromedriver.exe")

In [128]:
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [129]:
Name = []
Year = []
Genre = []
Runtime = []
Ratings = []
Votes = []

In [130]:
names = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for i in names:
    Name.append(i.text)

span = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in span:
    Year.append(i.text)
    
Gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in Gen:
    Genre.append(i.text)
    
run = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in run:
    Runtime.append(i.text)
    
rate = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]//span[2]')
for i in rate:
    Ratings.append(i.text)
    
vot = driver.find_elements_by_xpath('//div[@class="lister-item-content"]//p[4]/span[2]')
for i in vot:
    Votes.append(i.text)

In [131]:
IMDB = pd.DataFrame({'Movie Name':Name,'Year Span':Year,'Genre':Genre,'Run Time':Runtime,'Ratings':Ratings,'Votes':Votes})
IMDB

,Movie Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,956,435"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"966,209"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"931,924"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"279,017"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"239,199"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,793"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,517"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,721"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,312"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"222,009"

### 10. Details of Datasets from UCI machine learning repositories.
### Url = https://archive.ics.uci.edu/
### You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
url = "https://archive.ics.uci.edu/ml/index.php"
driver.get(url)

In [4]:
viewdataset = driver.find_element_by_xpath('//tbody/tr/td[2]/span[2]/a')
page_url = viewdataset.get_attribute('href')
driver.get(page_url)
time.sleep(5)

all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

data_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [9]:
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [10]:
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    

    try: 
        ds_name = driver.find_element_by_xpath("//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    
    try:
        dtype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
    
    try:
        atype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
    
    
    
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    
     
    try:
        inst = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    
    try:
        attr = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
    
    
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [11]:
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990